Source: omvextras-netrc
Section: net
Priority: optional
Maintainer: OpenMediaVault Plugin Developers <plugins@omv-extras.org>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.6

Package: omvextras-netrc
Architecture: all
Depends: openmediavault (>= 5.0),
         ${misc:Depends}
Description: Write .netrc from multiple plugins
